.block-banner(:class="props.background_type === 'has_background' && props.background ? 'block-banner--' + props.background : null", :data-texture='props.add_texture', :data-image='props.background_type === "has_image"')
  BaseTexture(v-if='props.background_type === "has_background" && props.add_texture')
  .block-banner__gradient(v-if='props.background_type === "has_background" && props.linear_gradient', :style="{ background: props.linear_gradient }")
  picture.block-banner__background-image-container(v-if='props.background_type === "has_image" && props.image.src' ref='theImage')
    source(:srcset='webpSrc' type='image/webp')
    img.block-banner__background-image(:src='jpgSrc', :alt='""' aria-hidden='true' data-speed='.25', :class="{ '.block-banner__background-image--hide': !imageLoaded}")
  .block-banner__overlay(v-if='props.background_type === "has_image" && props.image.src')
  .block-banner__container(:class="{ 'block-banner__container--reversed': props.reversed }" ref='blockContainer')
    .block-banner__content(:class="{ 'block-banner__content--centered': props.centered }", :data-color='props.text_color ? props.text_color : "white"')
      h2.block-banner__title(v-html='props.title', :class="{ 'block-banner__title--large': props.large_title }" v-if='props.title' ref='blockTitle')
      .block-banner__text-block(v-if='props.content_block === "text_block"' ref='textBlock')
        .block-banner__text(v-html='props.text' v-if='props.text')
        BlockButton.block-banner__button(:props='props.button', v-if='props.button.label')
      ul.block-banner__social-block(v-else-if='props.content_block === "social_block"' ref='socialBlock')
        li.block-banner__social-block-item(v-for='(link, i) in socialLinks', :key='`banner-link-${i}`' ref='socialList')
          a.block-banner__social-link(:href='link.href' target='_blank', :aria-label='`Follow us on ${link.icon}`' @click='$_removeFocus')
            BaseIcon.block-banner__social-icon(:name='link.icon')
      .block-banner__newsletter(v-else-if='props.newsletter_block')
        .block-banner__text(v-html='props.text' v-if='props.text')
        //- newsletter form
      
