.base-button-caret(:style="buttonStyles")
  nuxt-link.base-button-caret__button.base-button-caret__button--link(v-if='props.button_type === "nuxt_link"', :to='props.path + (props.hash ? props.hash : "")')
    span(v-html='"Read More"')
    BaseIcon.base-button-caret__caret(name='caret', :style="{ stroke: textColor }")

  button.base-button-caret__button.base-button-caret__button--button(v-else-if='props.button_type === "button"' tabindex='0', @click='onClick', :aria-label='props.aria ? props.aria : null')
    span(v-html='"Read More"')
    BaseIcon.base-button-caret__caret(name='caret', :style="{ stroke: textColor }")

  a.base-button-caret__button.base-button-caret__button--ext-link(v-else-if='props.button_type === "ext_link"', :href='props.href' target='_blank')
    span(v-html='"Read More"')
    BaseIcon.base-button-caret__caret(name='caret', :style="{ stroke: textColor }") 
