.popup 
  BaseModal(v-if='popupActive',
    arias='true',
    role='dialog',
    @closemodal='popupActive = $event')
    .popup__container
      BaseImage.popup__image(v-if='props.image' v-bind='props.image')
      h1.popup__title(v-if='props.title' v-html='props.title')
      .popup__text(v-if='props.text' v-html='props.text')
