section.block-post
  .block-post__loading(v-if='!props')
    .block-post__container
      h3 Loading...
  .block-post__container(v-if='props')

    BaseImage.block-post__image(v-if='props.blog_post.main_image' v-bind='props.blog_post.main_image' ref='image')

    .block-post__text

      h2.block-post__title(v-html='props.blog_post.title' ref='title')
      .block-post__date(v-html='props.blog_post.date' ref='date')

      .block-post__social-group(ref='social')
        a.block-post__social-circle(:href='`https://www.facebook.com/sharer/sharer.php?u=${ postUrl }`' target="_blank" rel="noopener noreferrer")
          BaseIcon.block-post__social-icon(name='facebook')
        
        a.block-post__social-circle(:href='`https://www.linkedin.com/shareArticle?url=${ postUrl }`' target="_blank" rel="noopener noreferrer")
          BaseIcon.block-post__social-icon(name='linkedin')

        a.block-post__social-circle(:href='`https://twitter.com/share?url=${ postUrl }`' target="_blank" rel="noopener noreferrer")
          BaseIcon.block-post__social-icon(name='twitter')
    
    .block-post__text(ref='text')
      .block-post__paragraph(v-if='props.blog_post.paragraphs' v-for='(paragraph, i) in props.blog_post.paragraphs' :key='`paragraph-${i}`')
        h3.block-post__paragraph--header(v-if='paragraph.header' v-html='paragraph.header')
        .block-post__paragraph--body(v-if='paragraph.body' v-html='paragraph.body')

      .block-post__links(ref='buttons')

        .block-post__links-row
          nuxt-link.block-post__link(v-if='prevPost', :to='{ path: prevPost }') 
            BaseIcon.block-post__link-icon.block-post__link-icon--prev(name='caret')
            .block-post__link-text.block-post__link-text--prev(tabIndex='0') Previous

        .block-post__links-row
          nuxt-link.block-post__link(v-if='nextPost', :to='{ path: nextPost }')
            .block-post__link-text.block-post__link-text--next(tabIndex='0') Next
            BaseIcon.block-post__link-icon.block-post__link-icon--next(name='caret')