.dev-mode-banner
  .dev-mode-banner__container
    .dev-mode-banner__button-container
      button.dev-mode-banner__button(
        @click='toggleStore'
        v-html=`(showStore ? 'Hide' : 'Show') + ' Store'`
      )
    .dev-mode-banner__button-container
      nuxt-link.dev-mode-banner__button(
        aria-label='View Component Locations on the style-guide page'
        to='/style-guide#dev-mode-component-locations'
      ) View Component Locations
    .dev-mode-banner__button-container
      button.dev-mode-banner__button(
        @click='toggleDevInspector'
        v-html=`$store.state.devTools ? 'Hide' : 'Show' + ' Dev Tools'`
      )
  .dev-mode-banner__container(v-if='$store.state.global')
    .dev-mode-banner__store-container(:style=`{ height: showStore ? storeHeight + 'px' : '0px' }`)
      .dev-mode-banner__store(
        :class=`{ 'dev-mode-overlay__store--active': showStore }`
        ref='storedata'
      )
        pre {{ $store.state }}
