// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033
$roosterPurple: #4d4ec1
$chartreuse: #C1C04D

// -----------------------
// project colors
// -----------------------

$primary: #1c79a0
$accent: #ed6a40
$text: #272727
$bg-1: #fafafa
$bg-2: #eef6f8
$secondary: #13526e

// ----------------------------
// navigation top bar colors
// -----------------------

$topbar-light: #f2f2f2
$topbar-dark: #1c79a0

// -----------------------
// box shadows
// -----------------------

$bs1: 0 4px 6px 0 rgba($black, .07), 0 3px 13px -4px rgba($black, .18)
$bs2: 0 4px 10px 0 rgba($black, .04), 0 3px 16px -4px rgba($black, .03)

// -----------------------
// overlays
// -----------------------

$ol1: linear-gradient(to top, rgba($black, .46) 33%, rgba($black, 0)), linear-gradient(to bottom, rgba($black, .4), rgba($black, 0) 20%)
