#page-wrapper(tabindex='-1')
  BaseAccess(:props='global')
  SkipLink
  transition(name='hero-fade')
    BaseLoader(v-if='!$store.state.siteLoaded')
  TheNavigation(:theme='theme')
  main.main-content#main-content(tabindex='-1')
    nuxt
  TheFooter
  Popup(v-if='popupActive' :props='global.popup')
  DevModeBanner(v-if='showDevModeBanner')
