.pages-404
    .pages-404__content
      h1 Page not found 
      p We can't find what you're looking for. Please check the link and try again.
      nuxt-link.pages-404__button(to='/', aria-label='Return Home') Return Home