.hero-main(:class="{ 'hero-main--no-image': !props.image.src && !props.video.src, 'hero-main--small-height': props.small }")
  .hero-main__overlay
  .hero-main__image-container(v-if='props.media_type === "image"')
    picture.hero-main__picture(ref='image')
      source(:srcset='webpSrc' type='image/webp')
      img.hero-main__image(:src='imgSrc', :alt='props.image.alt', :style='{ objectPosition: props.image.objectPosition ? props.image.objectPosition : null }' :aria-hidden='props.image.alt ? "false" : "true"')
  .hero-main__video(v-else-if='props.media_type === "video"')
    video.hero-main__video(:src='props.video.src' :title='props.video.title' autoplay muted playsinline loop ref='video')
      source(:src='props.video.webm', type='video/webm')
      source(:src='props.video.src', type='video/mp4')
    button.hero-main__video-control(v-if='videoPlaying' @click='pauseVideo' aria-label='pause hero video')
      BaseIcon.hero-main__video-control-pause(name='pause')
    button.hero-main__video-control(v-else-if='!videoPlaying' @click='playVideo' aria-label='play hero video')
      BaseIcon.hero-main__video-control-play(name='play')
  .hero-main__container
    .hero-main__content.hero-main__content--title-only(v-if='!props.text && $route.path === "/"')
      h1.hero-main__title(v-html='props.title' ref='heroTitle')
      BlockButton.hero-main__cta(v-if='props.button.label', :props='props.button', ref='heroBtn', @click='handleCtaClick')
    .hero-main__content(v-else-if='props.text')
      h1.hero-main__title.hero-main__title--small(v-html='props.title' ref='heroTitle')
      .hero-main__text(v-html='props.text' ref='heroText')
      BlockButton.hero-main__cta(v-if='props.button.label', :props='props.button', ref='heroBtn', @click='handleCtaClick')
    .hero-main__content.hero-main__content--pages(v-else-if='!props.text && $route.path !== "/"')
      h1.hero-main__title(v-html='props.title' ref='heroTitle')
    .hero-main__down(v-if="$route.path === '/'")
      BaseIcon.hero-main__down-icon(name='mouse')                 
